@mixin breakpoint($point) {
    @if $point ==lg {
        @media (max-width: 992px) {
            @content;
        }
    }

    @else if $point ==md {
        @media (max-width: 768px) {
            @content;
        }
    }

    @else if $point ==sm {
        @media (max-width: 576px) {
            @content;
        }
    }

    @else if $point ==xs {
        @media (max-width: 370px) {
            @content;
        }
    }

    @else if $point ==xl {
        @media (max-width: 1200px) {
            @content;
        }
    }

    @else if $point ==xxl {
        @media (max-width: 1400px) {
            @content;
        }
    }
}

@import '../../../global.css';


.container {
    color: var(--light);
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: 0.4s;

    @include breakpoint (md) {
        align-items: start;
    }
}



.motion {
    position: sticky;
    top: 20%;
    transition: 0.4s;

    @include breakpoint (md) {
        top: 3%;
        margin-left: 15px;
    }
}

.motion_round {
    position: sticky;
    top: 5%;
    transition: 0.4s;

}

.image {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: url(../../../../public/img/me.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transition: 0.4s;

    @include breakpoint (xxl) {
        width: 300px;
        height: 300px;
    }

    @include breakpoint (lg) {
        width: 250px;
        height: 250px;
    }

    @include breakpoint (sm) {
        width: 80vw;
        height: 80vw;
        margin: 0 auto;
    }
}

.content {
    width: 50vw;
    max-width: 700px;
    margin-left: 400px;
    margin-top: -150px;
    transition: 0.4s;

    @include breakpoint (xxl) {
        margin-left: 315px;
    }

    @include breakpoint (lg) {
        margin-left: 275px;
    }

    @include breakpoint (md) {
        margin-left: 0px;
        margin-top: 125px;
        width: 100%;
        padding: 0 5px;

    }

    @include breakpoint (sm) {
        margin-top: 50px;
    }

}

.links {
    position: absolute;
    top: 40px;
    left: 15px;
    background: var(--light);
    border-radius: 25px;
    padding: 10px 5px;

    @include breakpoint (md) {
        // left: calc(100vw - 80px);
        display: none;
    }
}

.prof {
    font-size: 200px;
    font-family: 'GTEesti-bold';
    line-height: 110px;
    margin-bottom: 50px;
    letter-spacing: -5px;
    position: relative;

    @include breakpoint (xxl) {
        font-size: 15vw;
    }

    @include breakpoint (lg) {
        font-size: 12vw;
        line-height: 9vw;
    }

    @include breakpoint (md) {
        font-size: 25vw;
        line-height: 15vw;

    }
}

.hello {
    font-size: 35px;
    margin-bottom: 25px;
    position: relative;
    z-index: 1;
    background: transparent;
    text-transform: uppercase;

}

.info {
    font-size: 25px;
    position: relative;
    z-index: 1;
    text-transform: uppercase;

    @include breakpoint (md) {
        font-size: 25px;

    }


}

.circle {
    background-color: var(--light-theme);
    border-radius: 50%;
    height: 150px;
    width: 150px;
    position: absolute;
    right: -82px;
    top: -15px;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint (lg) {
        height: 100px;
        width: 100px;
        right: 36px;
        top: -7px;

    }

    @include breakpoint (md) {

        right: -5px;
        top: -7px;

    }

}