@mixin breakpoint($point) {
    @if $point ==lg {
        @media (max-width: 992px) {
            @content;
        }
    }

    @else if $point ==md {
        @media (max-width: 768px) {
            @content;
        }
    }

    @else if $point ==sm {
        @media (max-width: 576px) {
            @content;
        }
    }

    @else if $point ==xs {
        @media (max-width: 370px) {
            @content;
        }
    }

    @else if $point ==xl {
        @media (max-width: 1200px) {
            @content;
        }
    }

    @else if $point ==xxl {
        @media (max-width: 1400px) {
            @content;
        }
    }
}

.work {
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 0 10px;

    @include breakpoint (lg) {
        padding: 0;


    }
}


.title {
    position: sticky;
    top: 10%;
    z-index: 2;
}

.title img {
    width: 100px;
    position: absolute;
    right: 10vw;

    @include breakpoint (xl) {
        right: 10px;
        width: 50px;

    }

    @include breakpoint (lg) {
        right: 5px;

    }
}


.item {
    color: white;
    margin-bottom: 50px;
}

.item_title {
    position: sticky;
    top: 20%;
    height: 8vh;
    z-index: 1;

    @include breakpoint (xl) {
        margin-left: -60px;
        height: 225px;
        display: flex;
        align-items: start;
    }

    @include breakpoint (lg) {
        justify-content: center;
        margin: 0 auto;
        background: black;
        width: 150px;
        height: 35px;
        border-radius: 25px;
        padding: 2px;
        top: 10%;

    }
}

.name {
    position: absolute;
    text-transform: uppercase;
    border-top: 1px solid white;
    font-size: 4vw;
    height: 50px;

    @include breakpoint (xl) {
        rotate: -90deg;

    }

    @include breakpoint (lg) {
        rotate: 0deg;
        position: relative;
        border: none;
        height: auto;
        font-size: 16px;
    }
}


.date {
    position: absolute;
    width: 300px;
    margin-top: 75px;
    font-size: 2vw;

    @include breakpoint (xl) {
        rotate: -90deg;
        width: auto;
        margin: 0;

    }

    @include breakpoint (lg) {
        rotate: 0deg;
        margin-top: 15px;


    }
}

.chat {
    font-size: 25px;
    max-width: 50vw;
    margin: 0 auto;
    margin-top: -70px;

    @include breakpoint (xl) {
        max-width: 75vw;
    }

    @include breakpoint (lg) {
        max-width: 85vw;
    }

    @include breakpoint (sm) {
        max-width: 100vw;
    }
}